/*The purchase gallery styles*/
.thumbnails img {
	height: 80px;
	border: 4px solid #0A1923;
    
	padding: 0px;
	margin: 0 10px 10px 0;
}

.thumbnails img:hover {
	border: 4px solid #97BADE;
	cursor:pointer;
}

.preview img {
	border: 0px;
	padding: 1px;
	width: 55%;
}
/*End of purchase gallery styles*/



.center_image {
  text-align: center;
}
.photos-p {
  color:white;
  text-align: center;
  font-size: 1.7em;
  font-family: "Crimson Pro", serif;
  
}
.photos-mid {
  color:white;
  text-align: center;
  font-size: 1.3em;
  font-family: "Crimson Pro", serif;
}
.photos-t {
  color:white;
  text-align: center;
  font-size: 1.2em;
  font-family: "Crimson Pro", serif;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 33.33%;
  max-width: 33.33%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns 
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
    padding: 0;
  }
}