*, *::before, *::after { box-sizing: border-box; }

html {
  min-width: 300px;
  scroll-behavior: smooth;
}

body {
  background-color: #373740;
  padding: 0;
  margin: 0;
  font-family: "Crimson Pro", serif;
  font-size: 21px;
}

.content p {
  line-height: 1.6;
  /*  text-align: justify;*/
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Crimson Pro", serif;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: white;
}

.content a {
  border-bottom: 1px solid transparent;
}

.enlightenment a {
  color: black;
  border-bottom-color: black;
}

a img {
  border: none;
}

.emphasis {
  color: #fffef2;
}

#about a {
  color: #fffef2;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.34);
}

/*------IMG-STYLES------*/

.container a img { border: none !important; }

.no-underline { border: none !important; }

.content img {
  max-width: 100%;
  height: auto;
}

.img-thumb {
  width: 10em;
  height: auto;
  padding: 1em;
  display: block;
}

.img-small {
  width: 15em;
  height: auto;
  padding: 1em;
}

.img-medium {
  width: 25em;
  height: auto;
  padding: 1em;
}

.img-large {
  width: 50em;
  height: auto;
  padding: 1em;
}

.img-fullwidth {
  width: 100%;
  height: auto;
  padding-top: 1em;
  padding-bottom: 1em;
  display: block;
}

.img-left {
  float: left;
}

.img-right {
  float: right;
}

.img-center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

a:hover .img-thumb,
a:hover .img-small,
a:hover .img-medium,
a:hover .img-large,
a:hover .img-fullwidth {
  opacity: 0.9;
}

.img-caption {
  max-width: 100%;
  height: auto;
}

.img-caption h4 {
  margin: 0 0 1em 1em;
  cursor: default;
}

.lightbox-wrapper .img-responsive {
  width: 75%;
  height: auto;
}


/*------NAVIGATION------*/
nav {
  position: fixed;
  width: 100%;
  top: 0;
  background-color:black;
  color: white;
  z-index: 2;

  display: flex;
  justify-content: space-between;
}

.navigation ul {
  list-style: none;
  margin: 0;
}

.navigation li {
  display: inline-block;
  padding: 1em;
}

.nav-pages {
  padding-left: 1em;
}

.nav-pages .bullet {
  padding-left: 0;
  padding-right: 0;
}

.nav-pages a:hover,
.nav-pages a:focus,
.nav-pages a:active {
  border-bottom: 1px inset #000;
}

.nav-pages a {
  text-decoration: none;
  color: white;
  font-family: "Crimson Pro", serif;
  font-size: 1.4em;
  font-weight: 300;
}

.btn-top {
cursor: pointer;
}

.nav-social {
  padding-right: 1em;
}

.nav-social a {
  text-decoration: none;
  color: white;
  font-size: 2em;
}

.nav-social .fa-youtube:hover,
.nav-social .fa-youtube:focus,
.nav-social .fa-youtube:active {
  color: #E62117;
}

.nav-social .fa-flickr:hover,
.nav-social .fa-flickr:focus,
.nav-social .fa-flickr:active {
  color: #337bef;
}

.nav-social .fa-instagram:hover,
.nav-social .fa-instagram:focus,
.nav-social .fa-instagram:active {
  background-image: linear-gradient(270deg, #BC32A4 0%, #E03768 50%, #F67C33 100%);
  border-radius: 35%;
  padding: 0px 1.5px 0px 1.5px;
  color: white;
  margin: 0px -1.5px 0 -1.5px;
}

/*------HOMEPAGE HEADER------*/

#header-home {
  /*  background-image: url(../images/backgroundSomething);*/
  background-attachment: scroll;
  background-size: cover;
  /*  padding: 12% 0 12%;*/
  margin-bottom: 4em;
  text-align: center;
  color: white;
  margin-top: 4em;
}

video.fullscreen {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, -50%);
}

#header-content-image {
  /*  background: transparent;*/
  /*background: transparent url("http://bricksinmotion.com/movie/wp-content/uploads/2016/01/header_bricks.jpg") no-repeat fixed 50% 0px; background-attachment: fixed;*/
  background-size: cover;
  padding: 10% 0 16%;
  /*  text-transform: uppercase;*/
  text-align: center;
  color: white;
  text-shadow: 0 0 1em rgba(0, 0, 0, 0.55);
  cursor: default;
}

#header-content-image.fixed {
  margin-bottom: 4em;
}

#header-content-image h1 {
  font-size: 5.2em;
  font-weight: 300;
  cursor: default;
  margin: 0;
  padding-top: 0.2em;
  font-family: "Crimson Pro", serif;
}

#header-content-image h2 {
  font-size: 2.7em;
  margin-top: -0.5em;
  letter-spacing: 8px;
}
.photos-header-bg {
  background-image: url(../images/starting%20image.jpg);
  background-attachment: fixed;
  background-size: cover;
}


/*------PORTFOLIO------*/

/*film library my films latest films background IMAGE BACKGROUND*/
.film-library {
  background-image: url(../images/bokeh1.png);
  background-size: cover;
/*  background-color: #eef1f4;*/
    border-top: 0.5em solid white;
/*  padding-bottom: 0.5em;*/
}
.Latest-Film-Header {
  Color:white;
  font-size:1.9em;
  text-align: center;
  padding-top: 0.7em;
}

.film-row,
.btn-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.film-row {
  padding-bottom: 0.75em;
  margin-left: 8%;
  margin-right: 8%
}
.btn-row {
  padding-bottom: 2em;
}

.film-row > .film,
.btn-row > .btn {
  text-align: center;
  cursor: default;
}

#video-lib-buttons {
  padding-top: 0;
  padding-bottom: 0;
/*  height: 6em;*/
  font-size: 1.5em;
}

#video-lib-buttons .title {
  color: white;
}

#video-lib-buttons .btn.active .title:after {
/*  border-bottom: 2px solid white;*/
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 100%;
  background-color: white;
}

.btn {
}

.film:hover,
.film:focus,
.film:active,
.film-detail img:hover,
.film-detail img:focus,
.film-detail img:active {
  opacity: 0.85;
}

.film .title {
  text-align: center;
  font-size: 1em;
/*  text-shadow: 0 0 1em rgba(0, 0, 0, 0.55);*/
  color: white;

  position: relative;
/*  top: -4px;*/
  font-weight: 300;
/*  font-size: 0.9em;*/
}

.film > a,
.btn > a {
  border-bottom: none;
}

.film img {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.images a:hover,
.images a:focus,
.images a:active {
  border-bottom: none;
}

.images img {
  margin-top: 0.5em;
  margin-right: 0.5em;
  box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.lower-film-library-banner {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.35);
/*  height: 2em;*/
  text-align: center;
  padding: 0.5em 0 0.5em 0;
  font-size: 1.5em;


}


/*--------Poster-------*/

.poster {
/*
  margin-left: auto;
  margin-right:auto;
  
*/
  padding: 2% 0;
  border-top: 0.5em solid rgba(255, 255, 255, 0.5);
  background: rgb(24,30,31);
background: linear-gradient(90deg, rgba(24,30,31,1) 0%, rgba(67,87,102,1) 20%, rgba(67,87,102,1) 80%, rgba(24,30,31,1) 100%);
  background-size: cover;
/*  background-attachment: fixed;*/
  background-position: center;
/*  height: 90vh;*/

/*
  padding-left:10em;
  padding-right:10em;
  
*/

}

#posterIMGs {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  
}

#posterIMGs img {
/*    height: 90vh;*/
vertical-align: middle;
  
}

#MainPoster {
  height: 91vh;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 6%;
  padding-right: 6%;
}

#Lposter {
  height: 50vh;
/*
  padding-left: 1%;
  padding-right: 8%;
*/
  
}

#Rposter {
  height: 50vh;
/*
  padding-right: 1%;
  padding-left: 8%;
*/
}

.poster-p {
  width: 40%;
  color: black;
  margin-right: auto;
/*  text-shadow: 0 0 10px rgba(0, 0, 0, 0.42);*/
}

.poster h2 {
/*  float: right;*/
  font-size: 2em;
  font-weight: 700;
}

.poster h2 a {
  color: #242e2e;
  border-bottom: 0.1em solid #191F1F;
}

.poster h2 a:hover {
  border-bottom: 0.1em solid rgba(25, 31, 31, 0);
  color: rgba(25, 31, 31, 0.69);
}

/*------CONTACT------*/

#lil-rio {
  position: absolute;
  display: inline;
  float: left;
  width: 25%;
  left: 3em;
  margin-top: 1em;
}

#about {
  font-family: "Montserrat", sans-serif;
  float: right;
  display: flex;
}

.large-headers {
  position: relative;
  float: left;
  cursor: default;
  margin-top: 0.05em;
  padding-left: 30%;
  font-size: 7.5em;
  margin: 0;
}

.contact p {
  font-size: 2em;
  float: right;
  padding-left: 30%;
  padding-right: 10%;
/*  text-shadow: 0 0 5px black;*/
  color: white;
}

.contact.socialism a {
  font-size: 1.5em;
  color: white;
}

.contact {
  border-top: 0.5em solid rgba(255, 255, 255, 0.31);
  /*  background-color: #151517;*/
  position:relative;
  background-image: url(../images/cloudsss.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  text-align: justify;
}

.contact h1 {
  position: relative;
  color: rgba(255, 255, 255, 0.27);
  text-align: left;
  cursor: default;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.contact #quote {
  color: rgba(255, 255, 255, 0.4);
  font-size: 1.4em;
  float:right;
  padding-right: 10%;
  text-align: right
}

.contact ul {
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  list-style: square;
}

.contact li {
  margin-bottom: 1em;
}

.socialism-large {
  font-size: 5em;
  text-align: center;
  cursor: default;
  padding: 0.2em;
}

.socialism-large a {
  border-bottom: none;
  padding-left: 0.25em;
  padding-right: 0.25em;
  color: white;
}

.socialism-large a:hover {
  color: rgba(222, 222, 222, 0.77);
}

/*------FOOTER------*/

footer {
  position: relative;
  background-color:black;
  width: 100%;
  height: 4.1em;
}

footer i {
  font-size: 2em;
  color: #373740;
  padding-left: 0.2em;
  padding-right: 0.2em;
}

footer i:hover {
  color: rgba(55, 55, 64, 0.72);
}

footer ul {
  list-style: none;
  margin: 0;
  cursor: default;
}

footer li {
  display: inline-block;
  padding: 1em;
}

#submebutton {
  padding-top: .8em;
  float:right;
  padding-right: 2.3em;
}
  
#___ytsubscribe_0 {
  transform: scale(1.2,1.2);
}

#credit {
  /*  position: relative;*/
  float: left;
  color: white;
  margin: 0;
/*  margin-right: 1em;*/
  padding: 0;
  cursor: default;
  padding-top: 1.1em;
  padding-left: 1.6em;
  font-size: 1.2em;
}

/*------FANCY UNDERLINES------*/

.sliding-middle-out {
  display: inline-block;
  position: relative;
  padding-bottom: 3px;
}
.sliding-middle-out:after {
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}
.sliding-middle-out:hover:after {
  width: 100%;
  background: white;
}


/*------MOBILE------*/

@media (max-width:1600px) {
  #header-content-image{
    padding: 0% 0 12%;
    
  }
  #about p{
    font-size: 1em;
  }
  #header-text{
    transform:scale(0.65);
  
  }
}

@media (max-width:1250px) {
  #MainPoster {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}

@media (max-width: 1000px) {
  #lil-rio {
    left: 1em;
    top: 0.5em;
    width: 9em;
  }
  
  .contact p {
    padding-left: 10%;
  }
  .large-headers {
    padding-left: 1.3em;
/*    font-size: 8em;*/
  }
}



@media (max-width: 770px) {
  #Lposter {
    display: none;
  }
  #Rposter {
    display: none;
    
  }
  #submebutton {
    float: none;
    padding-top: 2em;
  }
  #about p {
    padding-left: 1em;
    padding-right: 1em;
    text-align: left;
  }
  #header-content-image {
    padding: 9% 0 12%;
  }

  .large-headers {
    font-size: 4.8em;
    padding-left: 34%;
    padding-top: 0.2em;
  }
   nav {
    flex-direction: column;
    align-items: center;
    font-size: 0.9em;
  }
  .nav-social a {
    font-size: 1.5em;
    
  }
  .nav-social li {
    padding-top: 0;
  }

  nav ul { padding: 0; }
  .nav-pages { padding-left: 0; }
  .nav-pages a { font-size: 1.2em; }

  
  
  #lil-rio {
    left: 1em;
    width: 7em;
    margin-top: 0;
  }
  footer {
    text-align: center;
    height: 7em;
    padding-right: 0;
    float:none;
    font-size: 0.5em;
    
  }
  #credit {
    float: none;
    padding-left: 0;
    background-color: black;
    padding-bottom: 1.2em;
    
  }
  .Latest-Film-Header {
  padding-top: 0em;
}
}

@media (max-width: 600px) {
 

  #header-home {
    margin-top: 7em;
  }

  .nav-social {
    position: relative;
    top: -0.25em;
  }
  
  .large-headers {
    font-size: 5em;
  }
}

@media (max-width: 450px) {
  #header-content-image {
    margin-top: -4.2em;

  }
.Latest-Film-Header {
  padding-top: 0em;
}
  
  #header-content-image h1 {
    font-size: 2.95em;
  }
  .nav-pages .bullet{
    margin: -0.95em;
    color:transparent;
    
  }
  .film-row h3{
    font-size: 0.7;
  }
  .nav-pages {
    text-align: center;
    
  }
  .lower-film-library-banner {
    font-size: 0.9em
  }

  #header-content-image h2 {
    font-size: 1.5em;
  }
  .contact p {
    padding-left: 10%;
  }
  .large-headers {
    padding-left: 36%;
    padding-top: 0.2em;
    font-size: 3em;
  }
  #lil-rio {
    left: -0.4em;
    margin-top: 0em;
    margin-bottom: 0.5em;
    width: 6em;
  }
}

@media (max-width: 355px) {
  .socialism {
    padding-top: 0.8em;
  }
  footer {
    text-align: center;
  }
  #credit {
    float: none;
    margin: 0;
    float: none;
    margin-right: 0;
    margin-top: 0;
  }
 
  .contact p {
    padding-left: 10%;
    padding-top: 1em;
  }
  
}
