      <span id="portfolio"></span>
      <div class="film-library">
        <div class="btn-row" id="video-lib-buttons">
          <div class="btn btn-playlist-toggle" id="btn-featured" data-id="PLtkOA2qyrbHI0h4gHzOUP3DssE4cue4D3">
            <h3 class="sliding-middle-out title">Featured</h3>
          </div>

          <div class="btn btn-playlist-toggle" id="btn-latest" data-id="PLtkOA2qyrbHKNv9lF-mZ9gxTWFdYdwCop">
            <h3 class="sliding-middle-out title">Latest Films</h3>
          </div>
          
          <!-- Duplicate this and a thing in the Javascript to add another section -->
          <div class="btn btn-playlist-toggle" id="btn-tut-bts" data-id="PLtkOA2qyrbHLfvrI1dAtwcmL4FH5-EJFs">
            <h3 class="sliding-middle-out title">Tutorials &amp; Behind the Scenes</h3>
          </div>
        </div>

        <div class="film-row-wrapper"></div>

        
      </div>

<!-- Portfolio Grid Section -->
<!--
<section class="portfolio">
    <div class="row">
        {% for item in site.portfolio %}
        <div class="col-sm-4 col-xs-4 portfolio-item">
            <a href="{{ site.baseurl }}{{ item.url }}" class="portfolio-link" data-keyboard="true">
                <div class="caption" title="{{ item.title }}">
                    <div class="caption-content">
                        <i class="fa fa-search-plus fa-3x"></i>
                    </div>
                </div>
                <img src="{{ site.baseurl }}/{{ item.img }}" class="" alt="">
            </a>
        </div>
        {% endfor %}
    </div>
</section>-->
